* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: whitesmoke;
  color: darksalmon;
  display: flex;
  justify-content: space-between; }
  header h1 {
    font-style: italic;
    font-size: 60px; }
  header ul {
    display: flex;
    justify-content: center;
    color: darksalmon; }
    header ul li {
      list-style: none;
      display: inline;
      justify-content: center;
      padding: 15px;
      border: none;
      margin: 15px; }
    header ul a {
      color: salmon;
      text-decoration: none; }
      header ul a:hover {
        color: black; }

h2 {
  font-style: italic;
  color: darksalmon; }
  h2:hover {
    color: black; }

h3 {
  font-style: italic;
  color: darksalmon; }
  h3:hover {
    color: black; }

footer {
  background-color: black;
  height: 70px; }
  footer .footerPadre {
    display: flex;
    justify-content: center; }
  footer .footerHijo {
    list-style: none;
    display: inline;
    justify-content: center;
    padding: 15px;
    border: none;
    margin: 15px; }
  footer a {
    color: salmon;
    text-decoration: none; }
    footer a:hover {
      color: whitesmoke; }

@media (min-width: 320px) {
  footer {
    background-color: black;
    height: 57px; }
  .footerPadre {
    display: flex;
    justify-content: center; }
  .footerHijo {
    list-style: none;
    display: inline;
    justify-content: center;
    padding: 15px;
    border: none;
    margin: 15px; }
  header {
    background-color: whitesmoke;
    color: darksalmon;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    header h1 {
      font-style: italic;
      font-size: 20px;
      text-align: center; }
    header ul {
      display: flex;
      justify-content: flex-end;
      color: darksalmon; }
      header ul li {
        list-style: none;
        display: inline;
        justify-content: center;
        padding: 5px;
        border: none;
        margin: 5px; }
      header ul a {
        color: salmon;
        text-decoration: none; }
        header ul a:hover {
          color: black; } }

@media (min-width: 768px) {
  header {
    background-color: whitesmoke;
    color: darksalmon;
    display: flex;
    justify-content: space-between; }
    header h1 {
      font-style: italic;
      font-size: 60px;
      text-align: center; }
    header ul {
      display: flex;
      justify-content: center;
      color: darksalmon; }
      header ul li {
        list-style: none;
        display: inline;
        justify-content: center;
        padding: 15px;
        border: none;
        margin: 15px; }
      header ul a {
        color: salmon;
        text-decoration: none; }
        header ul a:hover {
          color: black; } }

form {
  text-align: center;
  font-size: 25px;
  padding: 350px;
  border: none;
  margin: 70px;
  background-image: url(https://www.crushpixel.com/big-static16/preview4/guest-room-with-beautiful-comfortable-2513930.jpg); }

h2 {
  text-align: center; }

@media (min-width: 320px) {
  form {
    text-align: center;
    font-size: 12px;
    padding: 127px;
    border: none;
    margin: 27px; }
  h2 {
    font-size: 10px;
    text-align: left; } }

@media (min-width: 768px) {
  form {
    text-align: center;
    font-size: 25px;
    padding: 350px;
    border: none;
    margin: 70px;
    background-image: url(https://www.crushpixel.com/big-static16/preview4/guest-room-with-beautiful-comfortable-2513930.jpg); }
  h2 {
    font-size: 30px;
    text-align: center; } }
