* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-between; }
  header a {
    color: salmon;
    text-decoration: none; }
    header a:hover {
      color: salmon; }
  header h1 {
    font-style: italic;
    font-size: 60px; }
  header ul {
    display: flex;
    justify-content: center;
    color: darksalmon; }
    header ul li {
      list-style: none;
      display: inline;
      justify-content: center;
      padding: 15px;
      border: none;
      margin: 15px; }
    header ul a {
      color: salmon;
      text-decoration: none; }
      header ul a:hover {
        color: black; }

h2 {
  font-style: italic;
  color: darksalmon; }

h3 {
  font-style: italic;
  color: darksalmon; }

footer {
  background-color: black;
  height: 70px; }
  footer .footerPadre {
    display: flex;
    justify-content: center; }
  footer .footerHijo {
    list-style: none;
    display: inline;
    justify-content: center;
    padding: 15px;
    border: none;
    margin: 15px; }
  footer a {
    color: salmon;
    text-decoration: none; }
    footer a:hover {
      color: whitesmoke; }

@media (min-width: 320px) {
  footer {
    background-color: black;
    height: 57px; }
  .footerPadre {
    display: flex;
    justify-content: center; }
  .footerHijo {
    list-style: none;
    display: inline;
    justify-content: center;
    padding: 15px;
    border: none;
    margin: 15px;
    font-family: 'Times New Roman', Times, serif; }
  header {
    background-color: whitesmoke;
    color: darksalmon;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    header h1 {
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      text-align: center;
      color: black;
      font-weight: bold;
      background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-pink-flowers-and-dark-leaves-old-fashioned-vector-id1356725095?b=1&k=20&m=1356725095&s=170667a&w=0&h=EFXMQFj2sZPS__MK1k1GRW8NxLqe4ht_lJuPeEtOUPk=); }
    header ul {
      display: flex;
      justify-content: center;
      color: darksalmon;
      flex-direction: column; }
      header ul li {
        list-style: none;
        display: inline;
        justify-content: center;
        padding: 0px;
        border: none;
        margin: 0px;
        flex-direction: column; }
      header ul a {
        color: salmon;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif; }
        header ul a:hover {
          color: black; } }

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    header h1 {
      font-family: 'Times New Roman', Times, serif;
      font-size: 60px;
      text-align: center;
      color: black;
      font-weight: bold;
      background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-pink-flowers-and-dark-leaves-old-fashioned-vector-id1356725095?b=1&k=20&m=1356725095&s=170667a&w=0&h=EFXMQFj2sZPS__MK1k1GRW8NxLqe4ht_lJuPeEtOUPk=); }
    header ul {
      display: flex;
      justify-content: center;
      flex-direction: row;
      color: black; }
      header ul li {
        list-style: none;
        display: inline;
        justify-content: center;
        padding: 5px;
        border: none;
        margin: 15px; }
      header ul a {
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif; }
        header ul a:hover {
          color: darksalmon; }
  .card:hover {
    color: darksalmon; }
  .carrusel_img {
    height: 100vh;
    object-fit: cover; }
  h2 {
    font-family: 'Times New Roman', Times, serif; }
  h3 {
    font-family: 'Times New Roman', Times, serif; } }

form {
  text-align: center;
  font-size: 25px;
  padding: 350px;
  border: none;
  margin: 70px;
  background-image: url(https://www.crushpixel.com/big-static16/preview4/guest-room-with-beautiful-comfortable-2513930.jpg); }

h2 {
  text-align: center; }

@media (min-width: 320px) {
  form {
    text-align: center;
    font-size: 12px;
    padding: 127px;
    border: none;
    margin: 27px;
    background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-pink-flowers-and-dark-leaves-old-fashioned-vector-id1356725095?b=1&k=20&m=1356725095&s=170667a&w=0&h=EFXMQFj2sZPS__MK1k1GRW8NxLqe4ht_lJuPeEtOUPk=); }
  h2 {
    font-size: 10px;
    text-align: center; }
  h3 {
    font-size: 10px;
    text-align: center; }
  .iconopadre {
    display: flex;
    justify-content: center; }
  .iconohijo {
    width: 40px;
    height: 40px;
    display: inline;
    justify-content: center;
    padding: 15px;
    border: none;
    margin: 15px; } }

@media (min-width: 768px) {
  form {
    text-align: center;
    font-size: 25px;
    padding: 350px;
    border: none;
    margin: 70px;
    background-image: url(https://www.crushpixel.com/big-static16/preview4/guest-room-with-beautiful-comfortable-2513930.jpg); }
  h2 {
    font-size: 30px;
    text-align: center; }
  h3 {
    font-size: 25px;
    text-align: center; }
  .iconopadre {
    display: flex;
    justify-content: center; }
  .iconohijo {
    width: 70px;
    height: 70px;
    display: inline;
    justify-content: center;
    padding: 15px;
    border: none;
    margin: 15px; }
  .hover a:hover {
    color: darksalmon; } }

@media (min-width: 320px) {
  .icono1 {
    width: 35px;
    height: 35px;
    position: relative;
    bottom: 35px;
    right: 40px;
    position: fixed;
    bottom: 0;
    right: 0; } }

@media (min-width: 768px) {
  .icono1 {
    width: 70px;
    height: 70px;
    position: relative;
    bottom: 35px;
    right: 40px;
    position: fixed;
    bottom: 0;
    right: 0; } }
