form{
    text-align: center;
    font-size: 25px;
    padding: 350px;
    border: none;
    margin: 70px;
    background-image: url(https://www.crushpixel.com/big-static16/preview4/guest-room-with-beautiful-comfortable-2513930.jpg);
    }
h2{
    text-align: center;
}
@media (min-width: 320px) {
    form{
        text-align: center;
        font-size: 12px;
        padding: 127px;
        border: none;
        margin: 27px;
        background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-pink-flowers-and-dark-leaves-old-fashioned-vector-id1356725095?b=1&k=20&m=1356725095&s=170667a&w=0&h=EFXMQFj2sZPS__MK1k1GRW8NxLqe4ht_lJuPeEtOUPk=);
        }  
    h2{
        font-size: 10px;
        text-align: center;
    }
    h3{
        font-size: 10px;
        text-align: center;
    }
    .iconopadre{
        display: flex;
        
        flex-direction: column;
        align-items: center;
        }
    .iconohijo{
        width: 40px;
        height: 40px;
        display: inline;
        
        flex-direction: column;
        align-items: center;
        padding: 15px;
        border: none ;
        margin: 15px;
        }  
      }
      @media (min-width: 768px) {
        form{
            text-align: center;
            font-size: 25px;
            padding: 350px;
            border: none;
            margin: 70px;
            background-image: url(https://www.crushpixel.com/big-static16/preview4/guest-room-with-beautiful-comfortable-2513930.jpg);
            } 
            h2{
                font-size: 30px;
                text-align: center;
            }
            h3{
                font-size: 25px;
                text-align: center;
            }
            .iconopadre{
                display: flex;
                justify-content: center;
                }
            .iconohijo{
                width: 70px;
                height: 70px;
                display: inline;
                justify-content: center;
                padding: 15px;
                border: none ;
                margin: 15px;
                } 
          }
