@media (min-width: 320px){
    .icono1{
        width: 35px;
        height: 35px;
        position: relative;
        bottom: 35px; 
        right: 40px;
        position: fixed;
        bottom: 0;
        right: 0;

    }

}
@media (min-width: 768px){
    .icono1{
        width: 70px;
        height: 70px;
        position: relative;
        bottom: 35px; 
        right: 40px;
        position: fixed;
        bottom: 0;
        right: 0;

    }
}