
header{
    background-image: url(/img/fondo/images.jpg);
    color: darksalmon;
    display: flex;
    justify-content: space-between;  
    a{
        color: salmon;
        text-decoration: none;
        &:hover{
            color: salmon;
        }
        }  
    h1{
        font-style: italic;
        font-size: 60px;
    }
    ul{
        display: flex;
    justify-content: center;

        color: darksalmon;

        li{
            list-style: none;
    display: inline;
    justify-content: center;
    padding: 15px;
    border: none ;
    margin: 15px;

        }
        a{
            color: salmon;
            &:hover{
                color: black;
            }
    
            text-decoration: none;
        }
        
    }
}

h2{
    font-style: italic;
    color:darksalmon;
    &:hover{
        color: black;}
}
h3{
    font-style: italic;
    color:darksalmon;
    &:hover{
        color: black;}
}
footer{
    background-color: black;
    height: 70px;
    
.footerPadre{
    display: flex;
    justify-content: center;
    }
.footerHijo{
    list-style: none;
    display: inline;
    justify-content: center;
    padding: 15px;
    border: none ;
    margin: 15px;
    }
    a{
        color: salmon;
        &:hover{
            color: whitesmoke;
        }

        text-decoration: none;
    }
}

@media (min-width: 320px) {
    footer{
        background-color: black;
        height: 57px;
        }
    .footerPadre{
        display: flex;
        justify-content: center;
        }
    .footerHijo{
        list-style: none;
        display: inline;
        justify-content: center;
        padding: 15px;
        border: none ;
        margin: 15px;
        }  
        header{
            background-color: whitesmoke;
            color: darksalmon;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        h1{
            font-style: italic;
            font-size: 20px;
            text-align: center;
        }
            ul{
                display: flex;
                justify-content: flex-end;
                color: darksalmon;
        
                li{
                    list-style: none;
                    display: inline;
                    justify-content: center;
                    padding: 5px;
                    border: none ;
                    margin: 5px;
                }
                a{ color: salmon;
                    &:hover{
                        color: black;
                    }
                    text-decoration: none;
                }
            }
        }
          }
          
          @media (min-width: 768px) {
            header{
                
                color: darksalmon;
                display: flex;
                justify-content: space-between;
            h1{
                font-style: italic;
                font-size: 60px;
                text-align: center;
                color: black;
                font-weight: bold;
                background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-pink-flowers-and-dark-leaves-old-fashioned-vector-id1356725095?b=1&k=20&m=1356725095&s=170667a&w=0&h=EFXMQFj2sZPS__MK1k1GRW8NxLqe4ht_lJuPeEtOUPk=);
            }
                ul{
                    display: flex;
                justify-content: center;
            
                    color: black;
            
                    li{
                        list-style: none;
                display: inline;
                justify-content: center;
                padding: 5px;
                border: none;
                margin: 15px;
                    }
                    a{
                        color: black;
                        &:hover{
                            color: darksalmon;
                        }
                
                        text-decoration: none;
                        font-weight: bold;
                    }
                }
            }
           
                }
            