
header{
    display: flex;
    justify-content: space-between;  
    a{
        color: salmon;
        text-decoration: none;
        &:hover{
            color: salmon;
        }
        }  
    h1{
        font-style: italic;
        font-size: 60px;
    }
    ul{
        display: flex;
        justify-content: center;
        color: darksalmon;

        li{
            list-style: none;
            display: inline;
            justify-content: center;
            padding: 15px;
            border: none ;
            margin: 15px;

        }
        a{
            color: salmon;
            &:hover{
                color: black;
            }
    
            text-decoration: none;
        }
        
    }
}

h2{
    color:darksalmon;
}
h3{
    color:darksalmon;
}
footer{
    background-color: black;
    a{
        color: salmon;
        &:hover{
            color: whitesmoke;
        }

        text-decoration: none;
    }
}

@media (min-width: 320px) {
    footer{
        background-color: black;
        }
        header{
            background-color: whitesmoke;
            color: darksalmon;
            display: flex;
            justify-content: center;
            flex-direction: column;
        h1{
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            text-align: center;
            color: black;
            font-weight: bold;
            background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-pink-flowers-and-dark-leaves-old-fashioned-vector-id1356725095?b=1&k=20&m=1356725095&s=170667a&w=0&h=EFXMQFj2sZPS__MK1k1GRW8NxLqe4ht_lJuPeEtOUPk=);
        }
            ul{
                display: flex;
                justify-content: center;
                color: darksalmon;
                flex-direction: column;
        
                li{
                    list-style: none;
                    display: inline;
                    justify-content: center;
                    padding: 0px;
                    border: none ;
                    margin: 0px;
                    flex-direction: column;
                }
                a{ color: salmon;
                    &:hover{
                        color: black;
                    }
                    text-decoration: none;
                    font-family: 'Times New Roman', Times, serif;
                }
            }
            h2{
                font-family: 'Times New Roman', Times, serif;
            }
            h3{
                font-family: 'Times New Roman', Times, serif;
            }
            a{
                font-family: 'Times New Roman', Times, serif;
            }
            h5{
                font-family: 'Times New Roman', Times, serif;
            }
            p{
                font-family: 'Times New Roman', Times, serif;
            }
        }
          }
          
          @media (min-width: 768px) {
            header{
                display: flex;
                justify-content: center;
                flex-direction: column;
            h1{
                font-family: 'Times New Roman', Times, serif;
                font-size: 60px;
                text-align: center;
                color: black;
                font-weight: bold;
                background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-pink-flowers-and-dark-leaves-old-fashioned-vector-id1356725095?b=1&k=20&m=1356725095&s=170667a&w=0&h=EFXMQFj2sZPS__MK1k1GRW8NxLqe4ht_lJuPeEtOUPk=);
            }
                ul{
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    color: black;
            
                    li{
                        list-style: none;
                        display: inline;
                        justify-content: center;
                        padding: 5px;
                        border: none;
                        margin: 15px;
                    }
                    a{
                        color: black;
                        &:hover{
                            color: darksalmon;
                        }
                        text-decoration: none;
                        font-weight: bold;
                        font-family: 'Times New Roman', Times, serif;
                    }
                }
            }
            .card{
                &:hover{
                    color: darksalmon;
                }
            }
            .carrusel_img{
                height: 90vh;
                object-fit: cover;

            }
            h2{
                font-family: 'Times New Roman', Times, serif;
            }
            h3{
                font-family: 'Times New Roman', Times, serif;
            }
            a{
                font-family: 'Times New Roman', Times, serif;
            }
            h5{
                font-family: 'Times New Roman', Times, serif;
            }
            p{
                font-family: 'Times New Roman', Times, serif;
            }
                }
            